$clr-prim1: hsl(0, 100%, 74%);
$clr-prim2: hsl(154, 59%, 51%);
$clr-prim3: hsl(154, 58%, 48%);

$clr-accent: hsl(248, 32%, 49%);

$clr-neut1: hsl(249, 10%, 26%);
$clr-neut2: hsl(246, 25%, 77%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'poppins';
}

html {
    background-color: $clr-prim1;
    height: 100vh;
    z-index: -10;
}

body {
    background-image: url('./images/bg-intro-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    height: 100vh;
    color: white;
}

.main {
    padding: 4rem 1rem;

    &_intro {
        text-align: center;
        margin-bottom: 2rem;

        p {
            padding: 0 1rem;
            line-height: 1.5rem;
        }
    }

    &_button {
        width: 100%;
        padding: 1rem 4rem;
        background-color: $clr-accent;
        color: white;
        border: none;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        box-shadow: 0px 0.5rem rgba(0, 0, 0, 0.144);
        line-height: 1.5rem;

        span {
            font-weight: 600;
        }
    }

    form {
        width: 100%;
        padding: 1.5rem 1rem;
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0px 0.5rem rgba(0, 0, 0, 0.144);




        input {
            margin-bottom: 1rem;
            height: 3.5rem;
            padding-left: 1rem;
            width: 100%;
            border: 1px solid $clr-neut2;
            border-radius: 0.3rem;
        }

        button {
            width: 100%;
            text-transform: uppercase;
            height: 4rem;
            background-color: $clr-prim2;
            border-radius: 0.5rem;
            border: none;
            box-shadow: 0px 0.2rem $clr-prim3;

            &:hover {
                cursor: pointer;
            }

            p {
                color: $clr-neut2;
                margin-top: 1rem;
                font-size: 0.7rem;
                padding: 0 2rem;
                line-height: 1.3rem;
                text-align: center;

                span {
                    font-weight: 800;
                    font-size: 0.7rem;
                    color: $clr-prim1;
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    body {
        background-image: url('./images/bg-intro-desktop.png');
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main {
        display: flex;
        flex: 1;
        margin: 0 8rem;
        gap: 3rem;

        &_intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;

            h1 {
                font-size: 3rem;
            }

            p {
                padding: 0;
                letter-spacing: 1.1;
                font-size: 0.9rem;
                line-height: 1.6rem;
            }
        }
    }
}